{% extends 'base.html.twig' %} 

{% block content %}

<style>
main {
    margin-top: 8rem;
}
.badge {
    background: #ffde4d;
}
.nameProduct {
    color: #ffde4d;
}

h1 {
    margin-bottom: 2rem;
    font-weight: bold;
}


ion-icon {
    color: black;
    font-size: 2rem;
}

.bg {
    background: #ffde4d;
    border-radius: 5px;
}
.a a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn {
    background-color: black;
    color: hsl(49, 100%, 65%);
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}
.btn:hover{
    background-color: brown;
}
</style>

<main>

<div class="container my-5">
<h1>MY BASKET</h1>

<div class="row">
    <div class="col-md-8">

                {# Boucle Twig pour afficher chaque produit du panier #}
            {% for product in cart %}
            <div class="row mt-2">
            <div class="col-md-2">
                {# Affichage dynamique de l'image #}
                <img src="/uploads/{{ product.object.illustration}}" class="img-fluid " alt="{{ product.object.name }}">
            </div>
            <div class="col-md-6">
                {# Affichage dynamique du nom et du prix unitaire #}
                <strong class="nameProduct">{{ product.object.name }}</strong>
                <span class="d-block small">Unit price: {{ product.object.pricewt|price }}</span>
            </div>
            <div class="col-md-2 text-right a">
                {# Routes dynamiques pour la gestion des quantités #}
            <a href="{{ path('app_cart_decrease', { id: product.object.id} ) }}"> - </a> <span class="badge text-dark">x{{ product.qantity}}</span><a href="{{ path('app_cart_add', { id: product.object.id} ) }}"> + </a>
            </div>
            <div class="col-md-2">
                {# Calcul dynamique du total par produit #}
                <strong>{{ (product.qantity * product.object.pricewt)|price }}</strong>  
            </div>
        </div>
            {% endfor %}
            {# Route dynamique pour vider le panier #}
        <a href="{{ path('app_cart_remove') }}" class="small d-block mt-3"><ion-icon name="trash"></ion-icon></a>
    </div>
    <div class="col-md-4">

        <div class="bg p-3">
            <div class="d-flex justify-content-between">
            {# Affichage dynamique du total des produits #}
                <span class="fw-bold">Total product</span>
                <span>{{ totalCartQuantity }}</span>
            </div>
            <div class="d-flex justify-content-between mt-3">
            {# Affichage dynamique du total TTC #}
                <span class="fw-bold">Total price including tax</span>
                <span>{{ totalWt|price }}</span>
            </div>
            <div>
            {# Route dynamique pour passer à la commande #}
                <a href="{{ path('app_order') }}" class="btn mt-3">Order</a>
            </div>

        </div>
    

    </div>
    </div>

</div>



</main>
{% endblock %}