<div class="row menuHeader">
    <div class="col-4 logoTitre">
        
        <a href="{{path ('app_home')}}"> <img src="{{ asset('pictures/imgPageAccueil/logo.png')}}" alt="image-logo" /></a>
        <h1>NOMADSCREEN</h1>
    </div>
    <div class="col-6 menudesktop">
        
        <a href="{{ path('app_home')}}">Home</a>
        {% for category in allCategories %}
        <a href="{{ path('app_category', { slug : category.slug } ) }}">{{ category.name }}</a>
        {% endfor %}
        <a href="{{ path('app_about')}}">About</a>

    </div>
        <div class="col-2 connect ">

            {# Si l'utilisateur son prenom s'affiche + le lien pouur alller vers son compte.S'il n'est pas connecté tu lui propose de le faire.#}
            {% if app.user %}
            <a class="w-50 nameIcon"  href="{{ path('app_account')}}">
            <ion-icon class="person" name="person"></ion-icon>{{ app.user.firstname }}</a>
            {% else %}
            <a class="w-50" href="{{ path('app_login')}}"><ion-icon class="person" name="person"></ion-icon></a>
            {% endif %}
            
            <a class="w-50" href="{{ path('app_cart') }}">
            <ion-icon class="cart" name="cart"></ion-icon>
            <span class="badge bg-dark text-light w-25">{{ totalCartQuantity }}</span>
            </a>
    </div>
        
    
    <div id="mobile" class="menumobile">
        <a id="closeBtn" href="#" class="close">×</a>
        <a href="{{ path('app_home')}}">Home</a>
        {% for category in allCategories %}
        <a href="{{ path('app_category', { slug : category.slug } ) }}">{{ category.name }}</a>
        {% endfor %}
        <a href="{{ path('app_about')}}">About</a>
        <a href="{{ path('app_login')}}">
            <ion-icon class="person" name="person"></ion-icon
        ></a>
        <a href="{{ path('app_cart') }}">
            <ion-icon class="cart" name="cart"></ion-icon>
            <span class="badge text-bg-dark">{{ totalCartQuantity }}</span>
        </a>
    
        
</div>
    
    <a href="#" id="openBtn">
        <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span
        </span>
    </a>
    
    </div>