{# suppression de la structure par défaut proposée par symfony#}

{% extends 'base.html.twig' %} 

{% block title %}Register{% endblock %}


{% block content %}

<style>
    .formRegister{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        background-color:hsl(49, 100%, 65%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h3 {
        text-align: center;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    
    .btn {
        background-color: black;
        color: hsl(49, 100%, 65%);
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
    }
    .btn:hover{
        background-color: brown;
    }
    .pageLogin {
        color:hsl(49, 100%, 65%) ;
        font-weight:bold ;
    }

    .showPassword{

        margin-top: 1rem;
        text-align: center;
        margin-bottom: 1rem;

    }

    
    
    @media screen and (max-width: 768px) {
    
        .formRegister {
            width: 70%;
        }
        
    }
</style>


<div class="container my-5">
    
    <h3>REGISTER</h3>

    {{ form_start(registerForm, {'attr' : {'class' : 'formRegister'}}) }}

    {{ form_row(registerForm.firstname) }}
    {{ form_row(registerForm.lastname) }}
    {{ form_row(registerForm.email) }}

    <!-- Mot de passe et confirmation de mot de passe -->
    {{ form_row(registerForm.plainPassword.first) }}
    {{ form_row(registerForm.plainPassword.second) }}

    <!-- Case à cocher pour afficher /masquer les mot de passe -->

    <div class="showPassword">
        <input type="checkbox" id="show-password">
        <label for="show-password">Show password</label>
    </div>

    {{ form_row(registerForm.submit)}}

    {{ form_end(registerForm)}}


    <br>
    Already have an account? <a class="pageLogin" href="{{ path('app_login')}}">Log in</a>

</div>

<!-- Script javascript pour basculer la visibilité des mot de passe -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("Script chargé");  // Vérifier que le script se charge
        const passwordFields = document.querySelectorAll('.password-field');
        const showPasswordCheckbox = document.getElementById("show-password");


        showPasswordCheckbox.addEventListener("change", function() {
            const type = showPasswordCheckbox.checked ? "text" : "password";
            passwordFields.forEach(field => field.type = type);
        });
    });
</script>


{% endblock %}