{% extends 'base.html.twig' %} 

{% block content %}

<style>
main {
    margin-top: 8rem;
}
.small-container {
    max-width: 800px;
    margin: 0 auto; 
}

#order_addresses .form-check, #order_carriers .form-check  {
    background-color: hsl(49, 100%, 65%);
    padding: 10px 40px;
}
.a {
    color: black;
}
</style>
<main>

<div class="container my-5 small-container">
<h1>MY ORDER</h1>

{{ form_start(deliverForm, {'attr': {'data-turbo': 'false'}}) }}


{{ form_row(deliverForm.addresses) }}

<a class="a" href="{{ path('app_account_address_form') }}">Add a new delivery address</a>

<hr>

{{ form_row(deliverForm.carriers) }}



{{ form_end(deliverForm) }}

</div>
</main>
{% endblock %}